body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
    margin: 0;

}
button {
    color: white;
    font-size: 3.4rem;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.7rem;
    padding: 25px;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 1rem;
    max-width: 500px;
    overflow: hidden;

}

#display{
    
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: rgb(24, 197, 160)
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{

    background-color: hsl(180, 64%, 44%);
}
.operator-btn:hover{

    background-color: hsl(180, 64%, 54%);
}
.operator-btn:active{

    background-color: hsl(180, 64%, 64%);
}
